cloud_id                    = "example"
folder_id                   = "example"
zone                        = "eeeeeee"
image_id                    = "example"
public_key_path             = "aaaaaaa"
subnet_id                   = "example"
service_account_key_file    = "bbbbbbb"
connection_private_key_path = "ccccccc"
rzone                       = "ddddddd"
