{
    "folder_id": "123qweasdzxc321",
    "source_image_id": "123qweasdzxc321",
    "service_account_key_file": "/tmp/example.json",
    "image_name": "reddit-base-{{timestamp}}",
    "ssh_username": "ubuntu"
}
